.gitignore
.dockerignore

.vscode/
.idea/

node_modules/
frontend/admin/node_modules/
frontend/theme/node_modules/

frontend/admin/dist/
frontend/theme/dist/
dist/

data/
config.yaml

*.exe
*.test
*.out
coverage.*
